.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 567px) {
  .app {
    padding: 1.25rem;
    height: 100vh;
    /* margin-bottom: 10.5rem; */
    margin-top: 10.5rem;
  }
}
