.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

/* Mobile responsiveness */
@media screen and (max-width: 567px) {
  .product {
    margin: 1.5rem;
    padding: 2.5rem;
  }

  .product section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .product img {
    width: 100%;
    height: 30vh;
  }

  .product h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .product p {
    font-size: 1.5rem;
  }
}
