.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
}

@media screen and (max-width: 567px) {
  .form {
    padding: 1rem;
  }
  .flag {
    top: 4rem;
    font-size: 1.5rem;
  }
  .label,
  .input,
  .textArea {
    font-size: 1.25rem;
  }
  input {
    font-size: 1.25rem;
  }
}
