.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 2rem auto;
  font-weight: 600;
}
@media screen and (max-width: 567px) {
  .message {
    font-size: 1.5rem;
    width: 90%;
    margin: 2rem auto;
  }
}
