.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  color: white;
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
@media screen and (max-width: 567px) {
  .sidebar {
    flex-basis: 40rem;
  }
}
